---
---

$spacing-unit:     20px;

$background-color: #f5f5f5;
$brand-color: {{ site.theme_color }};

$content-width: 880px;

@import "minima";

a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: $brand-color;
    }

    &:hover {
        color: $brand-color;
        text-decoration: underline;
    }

    .social-media-list &:hover {
        text-decoration: none;

        .username {
            text-decoration: underline;
        }
    }
}

article, .home {
    padding: $spacing-unit;
    background-color: #fff;
}

.center-image {
    max-width: 100%;
    display:block;
    margin:auto;
}

cite {
    color: $grey-color-dark;
}

code, pre {
    background-color: #eee;
}

.highlight {
    .highlighter-rouge & {
        background: #eee;
    }
}

hr {
    border: 0;
    border-top: 1px solid $grey-color-light;
}

#markdown-toc{
    list-style-type: none;
}

.post-content {
    margin-bottom: $spacing-unit/2;
  
    h1 {
        @include relative-font-size(2.125);

        @include media-query($on-laptop) {
            @include relative-font-size(1.875);
        }
    }
}

.post-list {
    > li {
        margin-bottom: $spacing-unit/2;
        margin-top: $spacing-unit/2;
    }

    h3 {
        margin-bottom: 0;
    }
}

.site-header {
    border-top: 0px;
}

.site-nav {
    color: $brand-color;

    .page-link {
        color: $brand-color;
    }
}

.site-title {
    color: $brand-color;
    font-weight: 500;

    &:visited {
        color: $brand-color;
    }

    a {
        &:visited {
            color: $brand-color;
        }
    }
}

hr + * {
    margin-top: $spacing-unit/2;
}
